<style type="text/css">
.form-style-1 {
    	margin:10px;
	    max-width: 400px;
	    padding: 20px 12px 10px 20px;
	    font: 13px sans-serif;
	}
	
.form-style-1 li {
    	padding: 0;
	    display: block;
	    list-style: none;
	    margin: 10px 0 0 0;
	}
	
.form-style-1 label{
    	margin:0 0 3px 0;
	    padding:0px;
	    display:block;
	    font-weight: bold;
}

.form-style-1 .required{
    color:red;
}

table {
	font-family:Arial;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	margin:20px;
	border:#ccc 1px solid;
}

table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
}

table tr {
	text-align: center;
	padding-left:20px;
}

table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
}

h1 { 
  font-weight: bold;
  font-size: 1.6em;
  line-height: .7em;
  margin-bottom: 10px;
}
</style>